@* Generator: MvcView *@

@using LCore;
@using Singularity;
@using Singularity.Models;
@using Singularity.Controllers;
@using Singularity.Context;
@using System.Collections;
@using System.Collections.Generic;
@using System.ComponentModel;
@using System.ComponentModel.Design;
@using System.Web;
@using System.Web.Mvc;
@using System.Linq;
@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel.DataAnnotations.Schema;

@{

}

@model Exception

<span class="field-error error">

    @if (ContextProviderFactory.GetCurrent().CurrentUser(Session) != null &&
                ContextProviderFactory.GetCurrent().CurrentUser(Session).IsAdmin == true)
        {
        <a title="@Model.ToString()">Error</a>
        }
    else
        {
        <a>Error</a>
        }
</span>