*[singularity] .singularity-test {
  font-size: 0.85em;
  font-family: Verdana;
  width: 100%;
}
*[singularity] .singularity-test h3 {
  margin-top: 0;
}
*[singularity] sing,
*[singularity] sing-catch {
  display: none;
}
*[singularity] *[sing-template]:not(*[sing-template-data=true]) {
  display: none;
}
html {
  margin: 0;
  padding: 0;
}
.block {
  display: block;
  visibility: visible;
}
.inline-block,
.show {
  display: inline-block;
  visibility: visible;
}
.inline {
  display: inline;
  visibility: visible;
}
.hide,
.hidden {
  visibility: hidden;
}
.collapse {
  visibility: collapse;
}
.remove {
  display: none;
}
.left,
.float-left {
  float: left;
}
.right,
.float-right {
  clear: right;
  float: right;
}
.no-float {
  float: none;
}
.clear {
  clear: both;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: left;
}
.align-center {
  text-align: center;
}
.pad {
  padding: 1em;
}
.pad-top {
  padding-top: 1em;
}
.pad-bottom {
  padding-bottom: 1em;
}
.pad-left {
  padding-left: 1em;
}
.pad-right {
  padding-right: 1em;
}
.no-pad {
  padding: 0;
}
.margin {
  margin: 1em;
}
.margin-top {
  margin-top: 1em;
}
.margin-bottom {
  margin-bottom: 1em;
}
.margin-left {
  margin-left: 1em;
}
.margin-right {
  margin-right: 1em;
}
.no-margin {
  margin: 0;
}
.border {
  border: 1px solid;
}
.border-top {
  border-top: 1px solid;
}
.border-bottom {
  border-bottom: 1px solid;
}
.border-left {
  border-left: 1px solid;
}
.border-right {
  border-right: 1px solid;
}
.round-border {
  border: 1px solid;
  border-radius: 5px;
}
.no-border {
  border: none;
}
.box-shadow {
  box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
}
.strikethrough {
  text-decoration: line-through;
}
.bold,
.strong {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
.text-shadow {
  text-shadow: 1em 1em 1em rgba(0, 0, 0, 0.5);
}
.upper-case {
  text-transform: uppercase;
}
.lower-case {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.normal-text {
  text-decoration: none;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
}
.page-break-after {
  page-break-after: always;
}
.page-break-before {
  page-break-before: always;
}
.page-break-avoid,
.avoid-page-break {
  page-break-inside: avoid;
}
.bg-darken {
  background: rgba(0, 0, 0, 0.1);
}
.bg-darken-2 {
  background: rgba(0, 0, 0, 0.2);
}
.bg-darken-3 {
  background: rgba(0, 0, 0, 0.3);
}
.bg-lighten {
  background: rgba(255, 255, 255, 0.1);
}
.bg-lighten-2 {
  background: rgba(255, 255, 255, 0.2);
}
.bg-lighten-3 {
  background: rgba(255, 255, 255, 0.3);
}
.no-bg {
  background: none;
}
.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.pointer {
  cursor: pointer;
}
.normal {
  background: none;
  margin: 0;
  padding: 0;
  float: none;
  display: inline-block;
  visibility: visible;
  text-decoration: none;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  cursor: default;
}
.spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
.spin.stop {
  -webkit-animation: spin 1000ms ease-out;
  animation: spin 1000ms ease-out;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
.spin-reverse {
  -webkit-animation: spin-reverse 1000ms infinite linear;
  animation: spin-reverse 1000ms infinite linear;
}
.spin-reverse.stop {
  -webkit-animation: spin-reverse 1000ms ease-out;
  animation: spin-reverse 1000ms ease-out;
}
@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@-webkit-keyframes fade-out {
  0% {
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  100% {
    -webkit-transform: opacity(0);
    transform: opacity(0);
  }
}
.fade-out {
  -webkit-animation: fade-out 300ms ease-in;
  animation: fade-out 300ms ease-in;
}
@keyframes fade-out {
  0% {
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
  100% {
    -webkit-transform: opacity(0);
    transform: opacity(0);
  }
}
.fade-in {
  -webkit-animation: fade-in 300ms ease-in;
  animation: fade-in 300ms ease-in;
}
@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: opacity(0);
    transform: opacity(0);
  }
  100% {
    -webkit-transform: opacity(1);
    transform: opacity(1);
  }
}
@-moz-keyframes fade-in {
  0% {
    -webkit-transform: opacity(0);
    -moz-transform: opacity(0);
    -ms-transform: opacity(0);
    -o-transform: opacity(0);
    transform: opacity(0);
  }
  100% {
    -webkit-transform: opacity(1);
    -moz-transform: opacity(1);
    -ms-transform: opacity(1);
    -o-transform: opacity(1);
    transform: opacity(1);
  }
}
@keyframes fade-in {
  0% {
    -webkit-transform: opacity(0);
    -moz-transform: opacity(0);
    transform: opacity(0);
  }
  100% {
    -webkit-transform: opacity(1);
    -moz-transform: opacity(1);
    transform: opacity(1);
  }
}
span.icon,
span.glyphicons,
glyph {
  font-family: 'Glyphicons Halflings';
}
ident,
ident img {
  border-radius: 5px;
}
error,
.error {
  display: block;
  color: red;
  font-size: 16px;
  font-weight: bold;
}
.sing .panel {
  background: rgba(0, 0, 0, 0.1);
}
.sing .list-group-item {
  background: rgba(255, 255, 255, 0.2);
}
.sing .sing-bubble {
  font-size: 14px;
  border: 1px solid;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 5px;
  float: right;
  width: 150px;
  margin-top: -8px;
  margin-right: 10px;
}
.sing .sing-bubble.wide {
  width: auto;
}
.sing .sing-bubble.success {
  background: rgba(0, 255, 0, 0.1);
}
.sing .sing-bubble.error {
  background: rgba(255, 0, 0, 0.1);
}
.sing .sing-bubble b {
  display: inline-block;
  min-width: 80px;
  text-align: right;
}
.sing .sing-module-summary {
  min-height: 50px;
}
.sing .sing-module-methods {
  width: 100%;
  min-height: 47px;
  padding-left: 5px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 5px;
}
.sing .sing-module-methods > .method-show-hide {
  position: relative;
  width: 40px;
  height: 36px;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;
  padding-top: 6px;
}
.sing .sing-module-methods > .method-show-hide glyph {
  position: absolute;
  left: 12px;
  top: 7px;
}
.sing .sing-module-methods h4 {
  margin-left: 43px;
  top: 6px;
  font-size: 20px;
  position: relative;
  border-bottom: 1px solid;
  padding-bottom: 3px;
  background: rgba(0, 0, 0, 0.05);
  margin-top: -6px;
  padding-top: 16px;
}
.sing .sing-module-properties {
  width: 100%;
  min-height: 47px;
  padding-left: 5px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 5px;
}
.sing .sing-module-properties > .method-show-hide {
  position: relative;
  width: 40px;
  height: 36px;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;
  padding-top: 6px;
}
.sing .sing-module-properties > .method-show-hide glyph {
  position: absolute;
  left: 12px;
  top: 7px;
}
.sing .sing-module-properties h4 {
  margin-left: 43px;
  top: 6px;
  font-size: 20px;
  position: relative;
  border-bottom: 1px solid;
  padding-bottom: 3px;
  background: rgba(0, 0, 0, 0.05);
  margin-top: -6px;
  padding-top: 16px;
}
.sing .sing-module-totals {
  display: block;
  height: 140px;
  width: 480px;
  float: right;
}
.sing .sing-module-totals .sing-module-total {
  height: 23px;
  display: block;
  margin: 8px;
  margin-top: -10px;
  margin-bottom: 17px;
  font-size: 13px;
}
.sing .sing-module-totals .sing-module-total p {
  width: 195px;
  margin-right: 5px;
  font-weight: bold;
}
.sing .sing-module-totals .sing-module-total strong p {
  font-size: 15px;
  width: auto;
}
.sing .tabs [sing-template-name=glyph] i {
  zoom: 65%;
}
.sing .sing-method-list .sing-method-header {
  margin-top: -8px;
}
.sing .sing-method-list .sing-method-header [sing-template-name=glyph] {
  margin-left: 5px;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 32px;
  height: 32px;
  padding: 2px;
  display: inline-block;
}
.sing .sing-method-list .sing-method-header [sing-template-name=glyph] i {
  zoom: 100%;
  height: 28px;
  width: 28px;
  margin-left: 0;
  margin-top: 0;
}
.sing .test-errors error {
  font-size: 12px;
  width: 100%;
  display: block;
}
.sing .wide .sing-progress-slider {
  min-width: 400px;
}
.sing .no-text .sing-progress-slider b {
  display: none;
}
.sing .ui-tabs {
  margin-left: -10px;
  margin-right: -10px;
}
.sing .ui-tabs .ui-tabs {
  margin-left: -20px;
  margin-right: -20px;
}
.sing .ui-tabs .ui-tabs-nav .sing-progress-slider {
  width: 100%;
  min-width: 50px;
  height: 5px;
  border: none;
  display: block;
}
.sing .ui-tabs .ui-tabs-nav .sing-progress-slider .sing-progress-complete {
  height: 5px;
  border: none;
}
.sing .sing-progress-slider {
  box-shadow: black 1px 1px 3px;
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  color: #ffffff;
  background-color: #890000;
  margin-top: 2px;
  min-width: 200px;
  text-align: center;
}
.sing .sing-progress-slider .sing-progress-complete {
  border: 1px solid;
  border-radius: 5px;
  background-color: #21762d;
  height: 100%;
  display: inline-block;
  float: left;
  position: absolute;
  left: 0;
  z-index: 0;
}
.sing .sing-progress-slider b {
  font-weight: normal;
  display: inline-block;
  min-width: 65%;
  z-index: 1;
  position: relative;
}
.sing [sing-template-name=method] .method-show-hide {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-right: 5px;
  margin-top: -8px;
}
.sing [sing-template-name=method] .method-show-hide glyph {
  position: absolute;
  left: 7px;
  top: 4px;
}
.sing [sing-template-name=method] .method-view-code .method-code-show-hide {
  text-align: left;
  width: 96%;
  height: 35px;
}
.sing [sing-template-name=method] .method-view-code .method-code {
  width: 100%;
}
#qTip {
  padding: 3px;
  border: 1px solid #606060;
  border-right-width: 2px;
  border-bottom-width: 2px;
  display: none;
  color: #000000;
  background: #FFFFFF;
  font: bold 13px Verdana, Arial, sans-serif;
  text-align: left;
  position: absolute;
  z-index: 1000;
  max-width: 600px;
}