@* Generator: MvcView *@
@using Singularity.Extensions;

@{
    var ModelData = (Template)Model.ModelData;
}

@model IViewField

<a href="@(Url.Controller<TemplateController>().Action(Controller=>Controller.PreviewPdf, ModelData.TemplateID))">
    <glyph>&#xe175;</glyph>
    View template PDF
</a>