@* Generator: MvcView *@

@{

}

@model IViewField

@if (Model.Meta.AdditionalValues.ContainsKey(InformationAttribute.Key))
{
    <div class="field-information">
        <p>
            <glyph>&#xE086;</glyph>
            @Model.Meta.AdditionalValues[InformationAttribute.Key]
        </p>
    </div>
}