@* Generator: MvcView *@

@{

}

@model IViewField

@{
    IFormattable data = Model.PropertyData as IFormattable;
}

@if (data != null)
    {
    <span>
        @data.ToString("C", null)
    </span>
    }