@* Generator: MvcView *@

@using LCore;
@using Singularity;
@using Singularity.Models;
@using Singularity.Controllers;
@using Singularity.Context;
@using System.Collections;
@using System.Collections.Generic;
@using System.ComponentModel;
@using System.ComponentModel.Design;
@using System.Web;
@using System.Web.Mvc;
@using System.Linq;
@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel.DataAnnotations.Schema;

@{
    DateTime? CurrentValue = (DateTime?)Model.ModelData.GetProperty(Model.Meta.PropertyName);

}

@model IViewField


@if (CurrentValue == null || (DateTime)CurrentValue == DateTime.MinValue)
    {

    }
else if (Model.Meta.DataTypeName == DataType.Date.ToString())
    {
    <span>
        @(((DateTime)CurrentValue).ToShortDateString())
    </span>
    }
else if (Model.Meta.DataTypeName == DataType.Time.ToString())
    {
    <span>
        @(((DateTime)CurrentValue).ToShortTimeString())
    </span>
    }
else if (Model.Meta.DataTypeName == DataType.DateTime.ToString())
    {
    <span>
        @(((DateTime)CurrentValue).ToString())
    </span>
    }
else
    {
    <span>
        @(((DateTime)CurrentValue).ToString())
    </span>
    }
