@* Generator: MvcView *@
@using Singularity.Annotations;

@{
}

@model IViewField

<span>
    @(((IFormattable)Model.PropertyData).ToString((string)Model.Meta.AdditionalValues[FieldStringFormatAttribute.Key], null))
</span>