@* Generator: MvcView *@

@using LCore.Extensions;

@{
}

@model IViewField

<span>$</span>
@Html.TextBox(Model.Meta.PropertyName,
                        Model.ModelData.GetProperty(Model.Meta.PropertyName),
                        new { @class = "spinner-money" })