@* Generator: MvcView *@

@{

}

@model IViewField

@{
    var Data = Model.PropertyData as IFormattable;
}

@if (Data != null)
    {
    <span>
        @Data.ToString("C", formatProvider: null)
    </span>
    }