@* Generator: MvcView *@
@using LCore.Extensions;

@{
    var CurrentValue = (DateTime?)Model.ModelData.GetProperty(Model.Meta.PropertyName);

}

@model IViewField


@if (CurrentValue == null || (DateTime)CurrentValue == DateTime.MinValue)
    {

    }
else if (Model.Meta.DataTypeName == DataType.Date.ToString())
    {
    <span>
        @(((DateTime)CurrentValue).ToShortDateString())
    </span>
    }
else if (Model.Meta.DataTypeName == DataType.Time.ToString())
    {
    <span>
        @(((DateTime)CurrentValue).ToShortTimeString())
    </span>
    }
else if (Model.Meta.DataTypeName == DataType.DateTime.ToString())
    {
    <span>
        @(((DateTime)CurrentValue).ToString())
    </span>
    }
else
    {
    <span>
        @(((DateTime)CurrentValue).ToString())
    </span>
    }
