@* Generator: MvcView *@

@{

}

@model IViewField

@if (Model.PropertyData.ToString().Length > ControllerHelper.DefaultTableTextLength)
    {
    <span title="@Model.PropertyData.ToString()">
        @Model.PropertyData.ToString().Substring(0, ControllerHelper.DefaultTableTextLength)
    </span>
    }
else
    {
    <span>
        @Model.PropertyData.ToString()
    </span>
    }