@* Generator: MvcView *@
@using LCore.Extensions;

@{
}

@model IViewField

@if (Model.ViewTypes.Has(ControllerHelper.ViewType.TableCell) &&
    Model.PropertyData.ToString().Length > ControllerHelper.DefaultTableTextLength)
    {
    <a href="mailto:@Model.PropertyData">
        <span class="abbreviated" title="@Model.PropertyData">
            @Model.PropertyData.ToString().Substring(0, ControllerHelper.DefaultTableTextLength) ...
        </span>
    </a>
    }
else
    {
    <a href="mailto:@Model.PropertyData">
        <span>
            @Model.PropertyData
        </span>
    </a>
    }
