@* Generator: MvcView *@
@using LCore.Extensions;

@{
}

@model IViewField

@if (Model.ViewTypes.Has(ControllerHelper.ViewType.TableCell) &&
    Model.PropertyData.ToString().Length > SingularityControllerHelper.DefaultTableTextLength)
    {
    <span class="abbreviated" title="@Model.PropertyData">
        @Model.PropertyData.ToString().Substring(startIndex: 0, length: SingularityControllerHelper.DefaultTableTextLength) ...
    </span>
    }
else
    {
    <span>
        @Model.PropertyData
    </span>
    }