@* Generator: MvcView *@
@* ReSharper disable All *@

@using Singularity.Routes;

@{
    Layout = Layouts.MainLayout;

    ViewBag.Title = "Examples";
}

<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#bootstrap-layouts">Layouts</a></li>
    <li><a data-toggle="tab" href="#bootstrap-buttons">Buttons</a></li>
    <li><a data-toggle="tab" href="#bootstrap-jumbotron">Jumbotron</a></li>
    <li><a data-toggle="tab" href="#bootstrap-headers">Headers</a></li>
    <li><a data-toggle="tab" href="#bootstrap-tables">Tables</a></li>
    <li><a data-toggle="tab" href="#bootstrap-thumbnails">Thumbnails</a></li>
    <li><a data-toggle="tab" href="#bootstrap-labels">Labels</a></li>
    <li><a data-toggle="tab" href="#bootstrap-badges">Badges</a></li>
    <li><a data-toggle="tab" href="#bootstrap-dropdown-menus">Dropdown Menus</a></li>
    <li><a data-toggle="tab" href="#bootstrap-news">News</a></li>
    <li><a data-toggle="tab" href="#bootstrap-navbars">Navbars</a></li>
    <li><a data-toggle="tab" href="#bootstrap-alerts">Alerts</a></li>
    <li><a data-toggle="tab" href="#bootstrap-progress-bars">Progress Bars</a></li>
    <li><a data-toggle="tab" href="#bootstrap-list-groups">List Groups</a></li>
    <li><a data-toggle="tab" href="#bootstrap-panels">Panels</a></li>
    <li><a data-toggle="tab" href="#bootstrap-wells">Wells</a></li>
    <li><a data-toggle="tab" href="#bootstrap-carousel">Carousel</a></li>
    <li><a data-toggle="tab" href="#bootstrap-highlight-text">Highlight Text</a></li>
    <li><a data-toggle="tab" href="#bootstrap-abbreviations">Abbreviations</a></li>
    <li><a data-toggle="tab" href="#bootstrap-blockquotes">Blockquotes</a></li>
    <li><a data-toggle="tab" href="#bootstrap-keyboard-inputs">Keyboard Inputs</a></li>
    <li><a data-toggle="tab" href="#bootstrap-code-snippets">Code Snippets</a></li>
    <li><a data-toggle="tab" href="#bootstrap-contextual-colors">Contextual Colors</a></li>
    <li><a data-toggle="tab" href="#bootstrap-contextual-backgrounds">Contextual Backgrounds</a></li>
    <li><a data-toggle="tab" href="#bootstrap-image-effects">Image Effects</a></li>
    <li><a data-toggle="tab" href="#bootstrap-image-gallery">Image Gallery</a></li>
</ul>

<div class="tab-content">
    <div id="bootstrap-layouts" class="tab-pane fade">
        <div class="example-code">

            <div class="page-header">
                <h1>Bootstrap grid examples</h1>
                <p class="lead">Basic grid layouts to get you familiar with building within the Bootstrap grid system.</p>
            </div>

            <h3>Three equal columns</h3>
            <p>
                Get three equal-width columns <strong>starting at desktops and scaling to large desktops</strong>. On mobile devices, tablets and below, the columns will automatically stack.
            </p>
            <div class="row">
                <div class="col-md-4">.col-md-4</div>
                <div class="col-md-4">.col-md-4</div>
                <div class="col-md-4">.col-md-4</div>
            </div>

            <h3>Three unequal columns</h3>
            <p>
                Get three columns <strong>starting at desktops and scaling to large desktops</strong> of various widths. Remember, grid columns should add up to twelve for a single horizontal block. More than that, and columns start stacking no matter the viewport.
            </p>
            <div class="row">
                <div class="col-md-3">.col-md-3</div>
                <div class="col-md-6">.col-md-6</div>
                <div class="col-md-3">.col-md-3</div>
            </div>

            <h3>Two columns</h3>
            <p>
                Get two columns <strong>starting at desktops and scaling to large desktops</strong>.
            </p>
            <div class="row">
                <div class="col-md-8">.col-md-8</div>
                <div class="col-md-4">.col-md-4</div>
            </div>

            <h3>Full width, single column</h3>
            <p class="text-warning">No grid classes are necessary for full-width elements.</p>

            <hr>

            <h3>Two columns with two nested columns</h3>
            <p>
                Per the documentation, nesting is easy—just put a row of columns within an existing column. This gives you two columns <strong>starting at desktops and scaling to large desktops</strong>, with another two (equal widths) within the larger column.
            </p>
            <p>At mobile device sizes, tablets and down, these columns and their nested columns will stack.</p>
            <div class="row">
                <div class="col-md-8">
                    .col-md-8
                    <div class="row">
                        <div class="col-md-6">.col-md-6</div>
                        <div class="col-md-6">.col-md-6</div>
                    </div>
                </div>
                <div class="col-md-4">.col-md-4</div>
            </div>

            <hr>

            <h3>Mixed: mobile and desktop</h3>
            <p>The Bootstrap 3 grid system has four tiers of classes: xs (phones), sm (tablets), md (desktops), and lg (larger desktops). You can use nearly any combination of these classes to create more dynamic and flexible layouts.</p>
            <p>Each tier of classes scales up, meaning if you plan on setting the same widths for xs and sm, you only need to specify xs.</p>
            <div class="row">
                <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
                <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
            </div>
            <div class="row">
                <div class="col-xs-6">.col-xs-6</div>
                <div class="col-xs-6">.col-xs-6</div>
            </div>

            <hr>

            <h3>Mixed: mobile, tablet, and desktop</h3>
            <p></p>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-8">.col-xs-12 .col-sm-6 .col-lg-8</div>
                <div class="col-xs-6 col-lg-4">.col-xs-6 .col-lg-4</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
            </div>

            <hr>

            <h3>Column clearing</h3>
            <p>
                <a href="http://getbootstrap.com/css/#grid-responsive-resets">Clear floats</a> at specific breakpoints to prevent awkward wrapping with uneven content.
            </p>
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    .col-xs-6 .col-sm-3
                    <br>
                    Resize your viewport or check it out on your phone for an example.
                </div>
                <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>

                <!-- Add the extra clearfix for only the required viewport -->
                <div class="clearfix visible-xs"></div>

                <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
                <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
            </div>

            <hr>

            <h3>Offset, push, and pull resets</h3>
            <p>Reset offsets, pushes, and pulls at specific breakpoints.</p>
            <div class="row">
                <div class="col-sm-5 col-md-6">.col-sm-5 .col-md-6</div>
                <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">.col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0</div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-6">.col-sm-6 .col-md-5 .col-lg-6</div>
                <div class="col-sm-6 col-md-5 col-md-offset-2 col-lg-6 col-lg-offset-0">.col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0</div>
            </div>


        </div>

        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#bootstrap-buttons-code">View Source</a></li>
        </ul>
        <div id="bootstrap-layouts-code" class="tab-pane fade">
            <pre>
            <code>
                            {{ $('.bootstrap-layouts .example-code').html().cleanHtml() }}
                        </code>
                    </pre>
        </div>
    </div>

    <div id="bootstrap-buttons" class="tab-pane fade">
        <div class="example-code">
            <div class="page-header">
                <h1>Buttons</h1>
            </div>
            <p>
                <button type="button" class="btn btn-lg btn-default">Default</button>
                <button type="button" class="btn btn-lg btn-primary">Primary</button>
                <button type="button" class="btn btn-lg btn-success">Success</button>
                <button type="button" class="btn btn-lg btn-info">Info</button>
                <button type="button" class="btn btn-lg btn-warning">Warning</button>
                <button type="button" class="btn btn-lg btn-danger">Danger</button>
                <button type="button" class="btn btn-lg btn-link">Link</button>
            </p>
            <p>
                <button type="button" class="btn btn-default">Default</button>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-link">Link</button>
            </p>
            <p>
                <button type="button" class="btn btn-sm btn-default">Default</button>
                <button type="button" class="btn btn-sm btn-primary">Primary</button>
                <button type="button" class="btn btn-sm btn-success">Success</button>
                <button type="button" class="btn btn-sm btn-info">Info</button>
                <button type="button" class="btn btn-sm btn-warning">Warning</button>
                <button type="button" class="btn btn-sm btn-danger">Danger</button>
                <button type="button" class="btn btn-sm btn-link">Link</button>
            </p>
            <p>
                <button type="button" class="btn btn-xs btn-default">Default</button>
                <button type="button" class="btn btn-xs btn-primary">Primary</button>
                <button type="button" class="btn btn-xs btn-success">Success</button>
                <button type="button" class="btn btn-xs btn-info">Info</button>
                <button type="button" class="btn btn-xs btn-warning">Warning</button>
                <button type="button" class="btn btn-xs btn-danger">Danger</button>
                <button type="button" class="btn btn-xs btn-link">Link</button>
            </p>
        </div>

        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#bootstrap-buttons-code">View Source</a></li>
        </ul>
        <div id="bootstrap-buttons-code" class="tab-pane fade">
            <xmp>
                {{ $('.bootstrap-buttons .example-code').html() }}
            </xmp>
        </div>
    </div>

    <div id="bootstrap-jumbotron" class="tab-pane fade">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Theme example</h1>
            <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
        </div>
    </div>

    <div id="bootstrap-headers" class="tab-pane fade">
        <div class="page-header">
            <h1>Headers</h1>
        </div>
        <div class="container">
            <h1>Lighter, Secondary Text</h1>
            <p>The small element is used to create a lighter, secondary text in any heading:</p>
            <h1>h1 heading <small>secondary text</small></h1>
            <h2>h2 heading <small>secondary text</small></h2>
            <h3>h3 heading <small>secondary text</small></h3>
            <h4>h4 heading <small>secondary text</small></h4>
            <h5>h5 heading <small>secondary text</small></h5>
            <h6>h6 heading <small>secondary text</small></h6>
        </div>
    </div>

    <div id="bootstrap-tables" class="tab-pane fade">
        <div class="page-header">
            <h1>Tables</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@@fat</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@@fat</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2">1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@@mdo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@@TwBootstrap</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@@fat</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td colspan="2">Larry the Bird</td>
                            <td>@@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@@fat</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td colspan="2">Larry the Bird</td>
                            <td>@@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="bootstrap-thumbnails" class="tab-pane fade">
        <div class="page-header">
            <h1>Thumbnails</h1>
        </div>
        <img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzIwMHgyMDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTU1NTI2ZjA3MSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NTU1MjZmMDcxIj48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9Ijc1LjUiIHk9IjEwNC41Ij4yMDB4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+" data-holder-rendered="true" style="width: 200px; height: 200px;">
    </div>

    <div id="bootstrap-labels" class="tab-pane fade">
        <div class="page-header">
            <h1>Labels</h1>
        </div>
        <h1>
            <span class="label label-default">Default</span>
            <span class="label label-primary">Primary</span>
            <span class="label label-success">Success</span>
            <span class="label label-info">Info</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>
        </h1>
        <h2>
            <span class="label label-default">Default</span>
            <span class="label label-primary">Primary</span>
            <span class="label label-success">Success</span>
            <span class="label label-info">Info</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>
        </h2>
        <h3>
            <span class="label label-default">Default</span>
            <span class="label label-primary">Primary</span>
            <span class="label label-success">Success</span>
            <span class="label label-info">Info</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>
        </h3>
        <h4>
            <span class="label label-default">Default</span>
            <span class="label label-primary">Primary</span>
            <span class="label label-success">Success</span>
            <span class="label label-info">Info</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>
        </h4>
        <h5>
            <span class="label label-default">Default</span>
            <span class="label label-primary">Primary</span>
            <span class="label label-success">Success</span>
            <span class="label label-info">Info</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>
        </h5>
        <h6>
            <span class="label label-default">Default</span>
            <span class="label label-primary">Primary</span>
            <span class="label label-success">Success</span>
            <span class="label label-info">Info</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>
        </h6>
        <p>
            <span class="label label-default">Default</span>
            <span class="label label-primary">Primary</span>
            <span class="label label-success">Success</span>
            <span class="label label-info">Info</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>
        </p>
    </div>

    <div id="bootstrap-badges" class="tab-pane fade">
        <div class="page-header">
            <h1>Badges</h1>
        </div>
        <p>
            <a href="#">Inbox <span class="badge">42</span></a>
        </p>
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#">Home <span class="badge">42</span></a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages <span class="badge">3</span></a></li>
        </ul>
    </div>

    <div id="bootstrap-dropdown-menus" class="tab-pane fade">

        <div class="page-header">
            <h1>Dropdown menus</h1>
        </div>
        <div class="dropdown theme-dropdown clearfix">
            <a id="dropdownMenu1" href="#" class="sr-only dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="active"><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>

    <div id="bootstrap-news" class="tab-pane fade">
        <div class="page-header">
            <h1>Navs</h1>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>

    <div id="bootstrap-navbars" class="tab-pane fade">


        <div class="page-header">
            <h1>Navbars</h1>
        </div>

        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </div>

    <div id="bootstrap-alerts" class="tab-pane fade">
        <div class="page-header">
            <h1>Alerts</h1>
        </div>
        <div class="alert alert-success" role="alert">
            <strong>Well done!</strong> You successfully read this important alert message.
        </div>
        <div class="alert alert-info" role="alert">
            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
        </div>
        <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong> Best check yo self, you're not looking too good.
        </div>
        <div class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
        </div>
    </div>

    <div id="bootstrap-progress-bars" class="tab-pane fade">
        <div class="page-header">
            <h1>Progress bars</h1>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="sr-only">60% Complete</span></div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"><span class="sr-only">40% Complete (success)</span></div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"><span class="sr-only">20% Complete</span></div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><span class="sr-only">60% Complete (warning)</span></div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"><span class="sr-only">80% Complete (danger)</span></div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><span class="sr-only">60% Complete</span></div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: 35%"><span class="sr-only">35% Complete (success)</span></div>
            <div class="progress-bar progress-bar-warning" style="width: 20%"><span class="sr-only">20% Complete (warning)</span></div>
            <div class="progress-bar progress-bar-danger" style="width: 10%"><span class="sr-only">10% Complete (danger)</span></div>
        </div>
    </div>

    <div id="bootstrap-list-groups" class="tab-pane fade">

        <div class="page-header">
            <h1>List groups</h1>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        Cras justo odio
                    </a>
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                </div>
            </div><!-- /.col-sm-4 -->
        </div>


    </div>

    <div id="bootstrap-panels" class="tab-pane fade">
        <div class="page-header">
            <h1>Panels</h1>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div><!-- /.col-sm-4 -->
        </div>


    </div>

    <div id="bootstrap-wells" class="tab-pane fade">

        <div class="page-header">
            <h1>Wells</h1>
        </div>
        <div class="well">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
    </div>

    <div id="bootstrap-carousel" class="tab-pane fade">

        <div class="page-header">
            <h1>Carousel</h1>
        </div>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item">
                    <img data-src="holder.js/1140x500/auto/#777:#555/text:First slide" alt="First slide [1140x500]" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTE0MCIgaGVpZ2h0PSI1MDAiIHZpZXdCb3g9IjAgMCAxMTQwIDUwMCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvMTE0MHg1MDAvYXV0by8jNzc3OiM1NTUvdGV4dDpGaXJzdCBzbGlkZQpDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNi4wLgpMZWFybiBtb3JlIGF0IGh0dHA6Ly9ob2xkZXJqcy5jb20KKGMpIDIwMTItMjAxNSBJdmFuIE1hbG9waW5za3kgLSBodHRwOi8vaW1za3kuY28KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NTU1MjZiNWUzIHRleHQgeyBmaWxsOiM1NTU7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6NTdwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU1NTUyNmI1ZTMiPjxyZWN0IHdpZHRoPSIxMTQwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzc3NyIvPjxnPjx0ZXh0IHg9IjM5MC41MDc4MTI1IiB5PSIyNzUuNSI+Rmlyc3Qgc2xpZGU8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" data-holder-rendered="true">
                </div>
                <div class="item active">
                    <img data-src="holder.js/1140x500/auto/#666:#444/text:Second slide" alt="Second slide [1140x500]" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTE0MCIgaGVpZ2h0PSI1MDAiIHZpZXdCb3g9IjAgMCAxMTQwIDUwMCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvMTE0MHg1MDAvYXV0by8jNjY2OiM0NDQvdGV4dDpTZWNvbmQgc2xpZGUKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTU1NTI2ZjgxZiB0ZXh0IHsgZmlsbDojNDQ0O2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjU3cHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NTU1MjZmODFmIj48cmVjdCB3aWR0aD0iMTE0MCIgaGVpZ2h0PSI1MDAiIGZpbGw9IiM2NjYiLz48Zz48dGV4dCB4PSIzMzUuNjAxNTYyNSIgeT0iMjc1LjUiPlNlY29uZCBzbGlkZTwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" data-holder-rendered="true">
                </div>
                <div class="item">
                    <img data-src="holder.js/1140x500/auto/#555:#333/text:Third slide" alt="Third slide [1140x500]" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTE0MCIgaGVpZ2h0PSI1MDAiIHZpZXdCb3g9IjAgMCAxMTQwIDUwMCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvMTE0MHg1MDAvYXV0by8jNTU1OiMzMzMvdGV4dDpUaGlyZCBzbGlkZQpDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNi4wLgpMZWFybiBtb3JlIGF0IGh0dHA6Ly9ob2xkZXJqcy5jb20KKGMpIDIwMTItMjAxNSBJdmFuIE1hbG9waW5za3kgLSBodHRwOi8vaW1za3kuY28KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NTU1MjZkYWVhIHRleHQgeyBmaWxsOiMzMzM7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6NTdwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU1NTUyNmRhZWEiPjxyZWN0IHdpZHRoPSIxMTQwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzU1NSIvPjxnPjx0ZXh0IHg9IjM3Ny44NjcxODc1IiB5PSIyNzUuNSI+VGhpcmQgc2xpZGU8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" data-holder-rendered="true">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div id="bootstrap-highlight-text" class="tab-pane fade">
        <div class="example-code">
            <h1>Highlight Text</h1>
            <p>
                Use the mark element to <mark>highlight</mark> text.
            </p>
        </div>
    </div>

    <div id="bootstrap-abbreviations" class="tab-pane fade">
        <div class="example-code">
            <h1>Abbreviations</h1>
            <p>The abbr element is used to mark up an abbreviation or acronym:</p>
            <p>
                The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.
            </p>
        </div>
    </div>

    <div id="bootstrap-blockquotes" class="tab-pane fade">
        <div class="example-code">
            <h1>Blockquotes</h1>
            <p>The blockquote element is used to present content from another source:</p>
            <blockquote>
                <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
                <footer>From WWF's website</footer>
            </blockquote>

            <h1>Right Aligned Blockquotes</h1>
            <p>To show the quote on the right use the class .blockquote-reverse:</p>
            <blockquote class="blockquote-reverse">
                <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
                <footer>From WWF's website</footer>
            </blockquote>
        </div>
    </div>

    <div id="bootstrap-keyboard-inputs" class="tab-pane fade">
        <div class="example-code">
            <h1>Keyboard Inputs</h1>
            <p>To indicate input that is typically entered via the keyboard, use the kbd element:</p>
            <p>
                Use <kbd>ctrl + p</kbd> to open the Print dialog box.
            </p>
        </div>
    </div>

    <div id="bootstrap-code-snippets" class="tab-pane fade">
        <div class="example-code">
            <h1>Code Snippets</h1>
            <p>Inline snippets of code should be embedded in the code element:</p>
            <p>
                The following HTML elements: <code>span</code>, <code>section</code>, and <code>div</code> defines a section in a document.
            </p>

            <h1>Multiple Code Lines</h1>
            <p>For multiple lines of code, use the pre element:</p>
            <pre>
                            Text in a pre element
                            is displayed in a fixed-width
                            font, and it preserves
                            both      spaces and
                            line breaks.
                        </pre>
        </div>
    </div>

    <div id="bootstrap-contextual-colors" class="tab-pane fade">
        <div class="example-code">
            <h2>Contextual Colors</h2>
            <p>Use the contextual classes to provide "meaning through colors":</p>
            <p class="text-muted">This text is muted.</p>
            <p class="text-primary">This text is important.</p>
            <p class="text-success">This text indicates success.</p>
            <p class="text-info">This text represents some information.</p>
            <p class="text-warning">This text represents a warning.</p>
            <p class="text-danger">This text represents danger.</p>
        </div>
    </div>

    <div id="bootstrap-contextual-backgrounds" class="tab-pane fade">
        <div class="example-code">
            <h2>Contextual Backgrounds</h2>
            <p>Use the contextual background classes to provide "meaning through colors":</p>
            <p class="bg-primary">This text is important.</p>
            <p class="bg-success">This text indicates success.</p>
            <p class="bg-info">This text represents some information.</p>
            <p class="bg-warning">This text represents a warning.</p>
            <p class="bg-danger">This text represents danger.</p>
        </div>
    </div>

    <div id="bootstrap-image-effects" class="tab-pane fade">
        <div class="example-code">
            <h2>Image Effects</h2>

            <h2>Rounded Corners</h2>
            <p>The .img-rounded class adds rounded corners to an image (not available in IE8):</p>
            <img src="http://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">

            <h2>Circle</h2>
            <p>The .img-circle class shapes the image to a circle (not available in IE8):</p>
            <img src="http://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">

            <h2>Thumbnail</h2>
            <p>The .img-thumbnail class creates a thumbnail of the image:</p>
            <img src="http://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
        </div>
    </div>

    <div id="bootstrap-image-gallery" class="tab-pane fade">
        <div class="example-code">
            <h2>Image Gallery</h2>
            <p>The .thumbnail class can be used to display an image gallery. Click on the images to see it in full size:</p>
            <div class="row">
                <div class="col-md-4">
                    <a href="pulpitrock.jpg" class="thumbnail">
                        <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>
                        <img src="http://www.w3schools.com/bootstrap/pulpitrock.jpg" alt="Pulpit Rock" style="width: 150px; height: 150px">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="moustiers-sainte-marie.jpg" class="thumbnail">
                        <p>Moustiers-Sainte-Marie: Considered as one of the "most beautiful villages of France".</p>
                        <img src="http://www.w3schools.com/bootstrap/moustiers-sainte-marie.jpg" alt="Moustiers Sainte Marie" style="width: 150px; height: 150px">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="cinqueterre.jpg" class="thumbnail">
                        <p>The Cinque Terre: A rugged portion of coast in the Liguria region of Italy.</p>
                        <img src="http://www.w3schools.com/bootstrap/cinqueterre.jpg" alt="Cinque Terre" style="width: 150px; height: 150px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
