@* Generator: MvcView *@

@using LCore;
@using MVCL;
@using MVCL.Models;
@using MVCL.Controllers;
@using MVCL.Context;
@using MVCL.Routes;
@using System.Linq;
@using System.Linq.Expressions;
@using System.Collections;
@using System.Collections.Generic;
@using System.ComponentModel;
@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel.Design;
@using System.Web;
@using System.Web.Mvc;

@{
    /// <reference path="singularity-core.ts" />
    Layout = Layouts.MainLayout;

}

<script type="text/javascript">
    $().init(function () {
        sing.loadTemplate('/Templates/Templates.html', function () {

            sing.initTemplates();

            $(".sing .tabs").tabs({
                collapsible: true
            });

            sing.ready();

        });
    });

    $().ready(function () {

    });
</script>

<div class="mvcl-test singularity-test sing" sing-fill="{{ Singularity with sing }}">


    <br />
    <br />
    <br />
    <br />
    <br />
    <div style="text-align:center">
        <span class="glyphicon spin" style="position: relative; font-size: 36px;">&#xe201;</span>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

