@* Generator: MvcView *@

@using LCore;
@using MVCL;
@using MVCL.Models;
@using MVCL.Controllers;
@using MVCL.Context;
@using MVCL.Routes;
@using System.Linq;
@using System.Linq.Expressions;
@using System.Collections;
@using System.Collections.Generic;
@using System.ComponentModel;
@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel.Design;
@using System.Web;
@using System.Web.Mvc;

@{
    /// <reference path="singularity-core.ts" />
    Layout = Layouts.MainLayout;

}


<div class="mvcl-test singularity-test sing" sing-fill="{{ Singularity with sing }}"></div>


<div class="mvcl-test singularity-test">

    <div>
        <script type="text/javascript">
            $().init(function () {
                sing.loadTemplate('/Templates/Templates.html', function () {
                    sing.initTemplates();

                    $(".sing .tabs").tabs({
                        collapsible: true
                    });

                });
            });

            $().ready(function () {


                $('#singularity-output').html(sing.getSummary('', false, false).textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));

                $('#singularity-tests-module').html(sing.getSummary('Singularity.Tests.', false, false).textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));
                $('#singularity-docs-module').html(sing.getSummary('Singularity.Documentation.', false, false).textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));
                $('#singularity-enumerable-module').html(sing.getSummary('Singularity.Enumerable.', false, false).textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));
                $('#singularity-bbcode-module').html(sing.getSummary('Singularity.BBCode.', false, false).textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));
                $('#singularity-regexp-module').html(sing.getSummary('Singularity.RegExp.', false, false).textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));
                $('#singularity-templates-module').html(sing.getSummary('Singularity.Templates.', false, false).textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));
                $('#singularity-logging-module').html(sing.getSummary('Singularity.Logging.', false, false).textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));
                $('#singularity-html-module').html(sing.getSummary('Singularity.html.', false, false).textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));


                $('#singularity-output-object').html(sing.getSummary('Singularity.object.', false, false).textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));
                $('#singularity-output-boolean').html(sing.getSummary('Singularity.Boolean.', false, false).textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));
                $('#singularity-output-number').html(sing.getSummary('Singularity.Number.', false, false).textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));
                $('#singularity-output-string').html(sing.getSummary('Singularity.String.', false, false).textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));
                $('#singularity-output-date').html(sing.getSummary('Singularity.Date.', false, false).textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));
                $('#singularity-output-array').html(sing.getSummary('Singularity.Array.', false, false).textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));
                $('#singularity-output-jquery').html(sing.getSummary('Singularity.jQuery.', false, false).textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));
                $('#singularity-output-function').html(sing.getSummary('Singularity.Function.', false, false).textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));

                $('#singularity-output-test-results').html(sing.runTests().textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));

                $('#singularity-output-bbcode-source').html(sing.BBCodes.arrayValues('test').joinLines().textToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));
                $('#singularity-output-bbcode-results').html(sing.BBCodes.arrayValues('test').joinLines().bbCodesToHTML().replaceAll('(100%)', '<b>(&nbsp;100%&nbsp;)</b>'));
            });
        </script>
        <h1>Singularity</h1>
        <div id="singularity-output"></div>
        <h2>Modules</h2>
        <h3>- Logging</h3>
        <div id="singularity-logging-module"></div>
        <h3>- Tests</h3>
        <div id="singularity-tests-module"></div>
        <h3>- Documentation</h3>
        <div id="singularity-docs-module"></div>
    </div>
</div>

<div class="mvcl-test singularity-test">

    <div>
        <h3>Enumerable</h3>
        <div id="singularity-enumerable-module"></div>
    </div>
</div>

<div class="mvcl-test singularity-test">

    <div>
        <h3>Boolean</h3>
        <div id="singularity-output-boolean"></div>
    </div>
</div>

<div class="mvcl-test singularity-test">

    <div>
        <h3>Number</h3>
        <div id="singularity-output-number"></div>
    </div>
</div>

<div class="mvcl-test singularity-test">

    <div>
        <h3>Date</h3>
        <div id="singularity-output-date"></div>
    </div>
</div>


<div class="mvcl-test singularity-test">

    <div>
        <h3>Object</h3>
        <div id="singularity-output-object"></div>
    </div>
</div>

<div class="mvcl-test singularity-test">

    <div>
        <h3>String</h3>
        <div id="singularity-output-string"></div>
        <h3>- RegExp</h3>
        <div id="singularity-regexp-module"></div>
        <h3>- Templates</h3>
        <div id="singularity-templates-module"></div>
        <h3>- HTML</h3>
        <div id="singularity-html-module"></div>
        <h3>- BBCode</h3>
        <div id="singularity-bbcode-module"></div>
    </div>
</div>

<div class="mvcl-test singularity-test">

    <div>
        <h3>Array</h3>
        <div id="singularity-output-array"></div>
    </div>
</div>

<div class="mvcl-test singularity-test">

    <div>
        <h3>jQuery</h3>
        <div id="singularity-output-jquery"></div>
    </div>
</div>

<div class="mvcl-test singularity-test">

    <div>
        <h3>Function</h3>
        <div id="singularity-output-function"></div>
    </div>
</div>


<div class="mvcl-test singularity-test">

    <div>
        <h3>BBCode Support</h3>
        <div id="singularity-output-bbcode-source"></div>
        <hr />
        <div id="singularity-output-bbcode-results"></div>
    </div>
</div>


<div class="mvcl-test singularity-test">

    <div>
        <h3>Test Results</h3>
        <div id="singularity-output-test-results"></div>
    </div>
</div>
