@media only screen and (max-width: 850px) {
  header .float-left,
  header .float-right {
    float: none;
  }
}
html {
  background-color: #e2e2e2;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.5em;
  background-color: #fff;
  border-top: solid 10px #000;
  color: #333;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
}
.bold {
  font-weight: bold;
}
.bold2 {
  font-weight: bold;
}
error,
.error {
  color: red;
  font-size: 16px;
  font-weight: bold;
}
a {
  color: #333;
  outline: none;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: underline;
}
a:hover {
  background-color: #c7d1d6;
}
a:link,
a:visited,
a:active,
a:hover {
  color: #333;
}
header,
footer,
hgroup,
nav,
section {
  display: block;
}
.field-validation-error {
  display: block;
  color: #e80c4d;
  font-weight: bold;
}
.tab-container {
  background: white !important;
}
.required-fields {
  font-size: 16px;
  color: red;
  float: right;
  margin-right: 40px;
}
.status-message {
  margin-left: 10px;
  float: left;
  margin-top: 20px;
  border: 1px solid #555;
  color: black;
  opacity: .9;
  padding: 8px;
  border-radius: 7px;
  width: 400px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.close-dialog .close-button {
  float: right;
  cursor: pointer;
}
hr {
  border-top-color: black;
}
.key-bind-tip {
  border: 1px solid black;
  display: inline-block;
  border-radius: 5px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  background: white;
  box-shadow: 1px 1px 5px #000000;
  left: 80px;
  top: 120px;
}
.key-bind-tip b {
  display: inline-block;
  width: 80px;
}
.key-bind-tip:hover .border-bottom {
  border-bottom: 1px solid black;
}
.key-bind-tip:hover .glyphicon {
  margin-right: 70px;
}
.key-bind-tip:hover #key-bind-page-tip {
  display: inline-block;
}
.key-bind-tip .glyphicon {
  border: 1px solid;
  padding: 2px;
  border-radius: 4px;
  background: #eee;
}
.key-bind-tip #key-bind-page-tip {
  display: none;
}
.border-round {
  border: 1px solid;
  border-radius: 5px;
}
.enum-checks {
  display: block;
}
.enum-checks .enum-check {
  display: inline-block;
  margin-left: 40px;
  width: 160px;
}
.enum-checks .enum-check > label {
  width: auto !important;
  font-weight: normal;
}
.context-switch {
  display: inline-block;
  width: 30px;
  height: 33px;
  position: relative;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: -20px;
  opacity: 0.9;
}
.context-switch:hover {
  background: none;
  opacity: 1;
}
.display-file {
  padding: 5px;
  margin: 5px;
}
.display-file .file-icon {
  float: left;
  padding: 5px;
}
.required-mark {
  color: red;
  float: left;
  font-size: 18px;
  margin-left: -8px;
}
mark {
  background-color: #a6dbed;
  padding-left: 5px;
  padding-right: 5px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  padding-bottom: 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.2em;
}
h5,
h6 {
  font-size: 1em;
}
h5 a:link,
h5 a:visited,
h5 a:active {
  padding: 0;
  text-decoration: none;
}
ul#menu {
  position: relative;
  font-size: 1.3em;
  font-weight: 600;
  margin: 0 0 5px;
  text-align: right;
  margin: 0;
  padding: 0;
  text-align: center;
}
ul#menu li {
  display: inline;
  list-style: none;
  padding-left: 15px;
  margin: 0;
  padding: 0;
}
ul#menu li ul {
  display: none;
  position: absolute;
  margin-right: 90px;
  background: #ddd;
  border-radius: 9px;
  top: 20px;
  margin: 5px;
  padding: 0px;
  margin-left: -140px;
  width: 150px;
  text-align: center;
}
ul#menu li ul li {
  display: block;
  padding: 0px;
  border-bottom: 1px solid #aaa;
}
ul#menu li ul li:last-child {
  border-bottom: none;
}
ul#menu li ul li a {
  width: 150px;
  display: inline-block;
}
ul#menu li span {
  height: 10px;
  padding: 5px;
}
ul#menu li a {
  background: none;
  color: #999;
  text-decoration: none;
}
ul#menu li a:hover {
  color: #333;
  text-decoration: none;
}
ul#menu a.active-page {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  color: black !important;
}
ul#menu li:hover ul,
ul#menu li ul:hover {
  display: inline-block;
}
#logo {
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid black;
}
#qTip {
  padding: 3px;
  border: 1px solid #606060;
  border-right-width: 2px;
  border-bottom-width: 2px;
  display: none;
  color: #000000;
  background: #FFFFFF;
  font: bold 13px Verdana, Arial, sans-serif;
  text-align: left;
  position: absolute;
  z-index: 1000;
  max-width: 600px;
}
.pointer {
  cursor: pointer;
}
.left {
  float: left;
}
.right {
  float: right;
}
.abbreviated {
  text-decoration: underline;
  cursor: crosshair;
}
.center {
  text-align: center;
}
.content-wrapper {
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
#body {
  background-color: #efeeef;
  clear: both;
  padding-bottom: 35px;
}
header .content-wrapper {
  padding-top: 20px;
}
header .site-title {
  margin: 10px;
  text-align: center;
}
footer {
  clear: both;
  background-color: #e2e2e2;
  font-size: .8em;
  height: 100px;
  text-align: center;
  height: auto;
  padding: 10px 0;
}
footer p {
  margin: 0;
}
*[disabled] {
  opacity: 0.5;
}
.site-title {
  color: #c8c8c8;
  font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
  font-size: 2.3em;
  margin: 0;
}
.site-title a,
.site-title a:hover,
.site-title a:active {
  background: none;
  color: #c8c8c8;
  outline: none;
  text-decoration: none;
}
#login {
  display: block;
  margin: 0 0 10px;
  text-align: right;
  font-size: .85em;
  margin: 0 0 12px;
  text-align: center;
}
#login a {
  background-color: #d3dce0;
  margin-left: 10px;
  margin-right: 3px;
  padding: 2px 3px;
  text-decoration: none;
  background: none;
  color: #999;
  font-weight: 600;
  margin: 2px;
  padding: 0;
}
#login a.username {
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}
#login a:hover {
  color: #333;
}
#login ul {
  margin: 0;
  margin: 5px 0;
  padding: 0;
}
#login li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
.featured {
  background-color: #fff;
}
.featured .content-wrapper {
  background-color: #7ac0da;
  background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
  background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
  background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
  background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
  color: #3e5667;
  padding: 20px 40px 30px 40px;
  padding: 10px;
}
.featured p {
  font-size: 1.1em;
}
.featured hgroup.title h1,
.featured hgroup.title h2 {
  color: #fff;
}
hgroup.title {
  margin-bottom: 10px;
}
hgroup.title h2 {
  font-weight: normal;
  margin-left: 3px;
}
hgroup.title h1,
hgroup.title h2 {
  display: inline;
}
section.feature {
  width: 300px;
  float: left;
  float: none;
  padding: 10px;
  width: auto;
}
section.feature img {
  color: #999;
  content: attr(alt);
  font-size: 1.5em;
  font-weight: 600;
}
ol.round {
  list-style-type: none;
  padding-left: 0;
}
ol.round li {
  padding-left: 45px;
  padding-left: 10px;
  margin: 25px 0;
}
ol.round li.zero {
  background: url("../Images/orderedList0.png") no-repeat;
}
ol.round li.one {
  background: url("../Images/orderedList1.png") no-repeat;
}
ol.round li.two {
  background: url("../Images/orderedList2.png") no-repeat;
}
ol.round li.three {
  background: url("../Images/orderedList3.png") no-repeat;
}
ol.round li.four {
  background: url("../Images/orderedList4.png") no-repeat;
}
ol.round li.five {
  background: url("../Images/orderedList5.png") no-repeat;
}
ol.round li.six {
  background: url("../Images/orderedList6.png") no-repeat;
}
ol.round li.seven {
  background: url("../Images/orderedList7.png") no-repeat;
}
ol.round li.eight {
  background: url("../Images/orderedList8.png") no-repeat;
}
ol.round li.nine {
  background: url("../Images/orderedList9.png") no-repeat;
}
article {
  font-size: 15px;
  float: left;
  width: 70%;
}
aside {
  float: right;
  width: 25%;
}
aside ul {
  list-style: none;
  padding: 0;
}
aside ul li {
  background: url("../Images/bullet.png") no-repeat 0 50%;
  padding: 2px 0 2px 20px;
}
.label {
  font-weight: 700;
}
#loginForm {
  border-right: solid 2px #c8c8c8;
  float: left;
  width: 55%;
  border-right: none;
  float: none;
  width: auto;
}
#loginForm .validation-error {
  display: block;
  margin-left: 15px;
}
#loginForm .validation-summary-errors ul {
  margin: 0;
  padding: 0;
}
#loginForm .validation-summary-errors li {
  display: inline;
  list-style: none;
  margin: 0;
}
#loginForm input {
  width: 250px;
}
#loginForm input[type="checkbox"],
#loginForm input[type="submit"],
#loginForm input[type="button"],
#loginForm button {
  width: auto;
}
#socialLoginForm {
  margin-left: 40px;
  float: left;
  width: 40%;
  margin-left: 0;
  float: none;
  width: auto;
}
#socialLoginForm h2 {
  margin-bottom: 5px;
}
#socialLoginList button {
  margin-bottom: 12px;
}
#logoutForm {
  display: inline;
}
.contact h3 {
  font-size: 1.2em;
}
.contact p {
  margin: 5px 0 0 10px;
}
.contact iframe {
  border: 1px solid #333;
  margin: 5px 0 0 10px;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
fieldset legend {
  display: none;
}
fieldset ol {
  padding: 0;
  list-style: none;
}
fieldset ol li {
  padding-bottom: 5px;
}
label {
  display: block;
  font-size: 1.2em;
  font-weight: 600;
  vertical-align: top;
}
label.checkbox {
  display: inline;
}
.int-range-display {
  display: inline-block;
  margin-left: 30px;
  font-weight: bold;
}
.int-range {
  display: inline-block;
  width: 320px;
}
input[type=text],
textarea {
  border: 1px solid #e2e2e2;
  background: #fff;
  color: #333;
  font-size: 1.2em;
  margin: 5px 0 6px 0;
  padding: 5px;
  width: 300px;
}
textarea {
  font-family: inherit;
  width: 400px;
  max-width: 654px;
  max-height: 150px;
}
input:focus,
textarea:focus {
  border: 1px solid #7ac0da;
}
.details label {
  width: 250px;
}
.wide-form {
  width: 750px;
  margin: 0 auto;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 53px;
  padding-left: 19px;
}
.edit h1 {
  margin-bottom: 40px;
}
.edit .edit-fields {
  padding-left: 50px;
}
.edit .edit-fields.tab-view {
  padding-left: 0px;
}
.edit .edit-fields .edit-field {
  margin-bottom: 5px;
}
.edit label {
  width: 250px;
}
.edit input[type=text] {
  width: 400px;
}
.edit input.spinner-int,
.edit input.spinner-money {
  width: 100px;
}
.create .create-fields {
  padding-left: 50px;
}
.create .create-fields .create-field {
  margin-bottom: 5px;
}
.create label {
  width: 250px;
}
.create input[type=text] {
  width: 400px;
}
.create input.spinner-int,
.create input.spinner-money {
  width: 100px;
}
input[type="checkbox"] {
  background: transparent;
  border: inherit;
  width: auto;
}
input[type="submit"],
input[type="button"],
button {
  background-color: #d3dce0;
  border: 1px solid #787878;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  padding: 7px;
  margin-right: 8px;
  width: auto;
}
td input[type="submit"],
td input[type="button"],
td button {
  font-size: 1em;
  padding: 4px;
  margin-right: 4px;
}
.message-info {
  border: 1px solid;
  clear: both;
  padding: 10px 20px;
}
.message-error {
  clear: both;
  color: #e80c4d;
  font-size: 1.1em;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
.message-success {
  color: #7ac0da;
  font-size: 1.3em;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
.error {
  color: #e80c4d;
}
.field-validation-valid {
  display: none;
}
input.input-validation-error {
  border: 1px solid #e80c4d;
}
input[type="checkbox"].input-validation-error {
  border: 0 none;
}
.validation-summary-errors {
  color: #e80c4d;
  font-weight: bold;
  font-size: 1.1em;
}
.validation-summary-valid {
  display: none;
}
select {
  width: 250px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 0.75em;
  border: 0 none;
}
th {
  font-size: 1.2em;
  text-align: left;
  border: none 0px;
  padding-left: 0;
}
th a {
  display: block;
  position: relative;
}
th a:hover {
  color: #000;
}
th.asc a:after {
  content: '▲';
}
th.desc a:after {
  content: '▼';
}
th a:link,
th a:visited,
th a:active,
th a:hover {
  color: #333;
  font-weight: 600;
  text-decoration: none;
  padding: 0;
}
th.asc a,
th.desc a {
  margin-right: .75em;
}
th.asc a:after,
th.desc a:after {
  display: block;
  position: absolute;
  right: 0em;
  top: 0;
  font-size: 0.75em;
}
td {
  padding: 0.25em 2em 0.25em 0em;
  border: 0 none;
}
tr.pager td {
  padding: 0 0.25em 0 0;
}
.manage-pagination {
  float: left;
}
.manage-pagination .page-current {
  font-weight: bold;
}
.manage-pagination .page-numbers {
  display: inline-block;
  min-width: 180px;
  text-align: center;
}
span.icon,
span.glyphicons,
glyph {
  font-family: 'Glyphicons Halflings';
}
.manage-global-search {
  float: right;
}
.manage-export {
  float: right;
}
.filter-area > span {
  display: inline-block;
  border: 1px solid;
  border-radius: 3px;
  padding-left: 3px;
  cursor: pointer;
}
.filter-area span a {
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  height: 21px !important;
  display: inline-block;
  margin-bottom: -1px;
  padding-top: 1px;
  font-weight: bold;
}
.btn-default {
  border: 1px solid #888 !important;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
.manage .errors {
  float: left;
}
.manage .no-results {
  padding-top: 50px;
  font-weight: bold;
}
.manage tr:hover .no-results,
.manage tr .no-results:hover {
  background: auto !important;
}
.manage-table {
  width: 100%;
  min-height: 150px;
  border: 1px solid;
}
.manage-table td {
  padding-left: 3px;
  padding-right: 3px;
  vertical-align: top;
}
.manage-table tr:nth-child(2n) td {
  background: rgba(0, 0, 0, 0.05);
}
.manage-table tbody tr:hover {
  background: rgba(0, 0, 0, 0.1);
}
.manage-table tbody tr td:hover {
  background: rgba(0, 0, 0, 0.1);
}
.manage-table thead {
  font-weight: bold;
}
.manage-table thead .glyphicons {
  float: right;
}
.manage-table thead td {
  border-bottom: 1px solid;
}
.manage-table thead td.sort-column {
  background: rgba(0, 0, 0, 0.1);
}
.manage-table td.view-cell,
.manage-table td.edit-cell,
.manage-table td.deactivate-cell {
  vertical-align: middle;
}
.manage-table td.view-cell a,
.manage-table td.edit-cell a,
.manage-table td.deactivate-cell a {
  padding: 0px;
}
.manage-table td.view-cell a span,
.manage-table td.edit-cell a span,
.manage-table td.deactivate-cell a span {
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  background: white;
  box-shadow: 1px 1px 1px;
}
.clear-form {
  float: right;
  margin-left: 70px;
}
nav {
  margin-bottom: 5px;
}
.main-content,
.featured + .main-content {
  background-position: 10px 0;
}
article,
aside {
  float: none;
  width: 100%;
}
ol.round li.zero,
ol.round li.one,
ol.round li.two,
ol.round li.three,
ol.round li.four,
ol.round li.five,
ol.round li.six,
ol.round li.seven,
ol.round li.eight,
ol.round li.nine {
  background: none;
}
footer .float-left,
footer .float-right {
  float: none;
}
.field-information {
  border: 1px solid #aaa;
  border-radius: 10px;
  background: #fff;
  padding: 10px;
  font-size: 16px;
  margin-right: 17px;
  font-weight: bold;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px #000000;
}
table.string-matrix,
table.string-multiarray {
  border: 1px solid;
  width: 100%;
  overflow: scroll;
  display: block;
  max-height: 290px;
  font-size: 12px;
}
table.string-matrix thead,
table.string-multiarray thead {
  font-weight: bold;
}
table.string-matrix thead td,
table.string-multiarray thead td {
  text-align: center;
}
table.string-matrix td,
table.string-multiarray td {
  border: 1px solid;
  padding: 2px;
}
.mvcl-test {
  width: 48%;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: block;
}
.mvcl-test:nth-child(even) {
  float: left;
}
.mvcl-test:nth-child(odd) {
  float: right;
  clear: right;
}
.mvcl-test .example {
  width: 240px;
  min-height: 50px;
  background: #CBCBCB;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  position: relative;
}
.mvcl-test input[type=button] {
  position: relative;
  border-radius: 5px;
}
/*# sourceMappingURL=mvcl.css.map */