

*[singularity] {

    .singularity-test {
        font-size: 0.85em;
        font-family: Verdana;

        h3 {
            margin-top: 0px;
        }
    }

    *[sing-template]:not(*[sing-template-data=true]) {
        display: none;
    }
}

.round-border() {
    border: 1px solid;
    border-radius: 5px;
}

.sing {
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;

    .sing-bubble {
        margin-top: -8px;
        font-size: 14px;
        .round-border();
        background: rgba(0,0,0,0.1);
        display: inline;
        padding: 5px;
        float: right;
        width: 130px;
        margin-right: 10px;

        &.wide {
            width: auto;
        }

        &.success {
            background: rgba(0,255,0,0.1);
        }

        &.error {
            background: rgba(255,0,0,0.1);
        }

        b {
            display: inline-block;
            min-width: 80px;
            text-align: right;
        }
    }

    .sing-module-summary {
    }

    .sing-module-methods {
        width: 100%;
        min-height: 47px;
        padding-left: 5px;
        background: rgba(0,0,0,0.1);
        .round-border();
        margin-bottom: 5px;

        > .method-show-hide {
            position: relative;
            width: 40px;
            height: 36px;
            padding: 0px;
            margin-top: 5px;
            margin-right: 5px;
            padding-top: 6px;

            glyph {
                position: absolute;
                left: 12px;
                top: 7px;
            }
        }

        h4 {
            margin-left: 43px;
            top: 6px;
            font-size: 20px;
            position: relative;
            border-bottom: 1px solid;
            padding-bottom: 3px;
            background: rgba(0,0,0,0.05);
            margin-top: -6px;
            padding-top: 16px;
        }
    }

    .sing-module-properties {
        width: 100%;
        min-height: 47px;
        padding-left: 5px;
        background: rgba(0,0,0,0.1);
        .round-border();
        margin-bottom: 5px;

        > .method-show-hide {
            position: relative;
            width: 40px;
            height: 36px;
            padding: 0px;
            margin-top: 5px;
            margin-right: 5px;
            padding-top: 6px;

            glyph {
                position: absolute;
                left: 12px;
                top: 7px;
            }
        }

        h4 {
            margin-left: 43px;
            top: 6px;
            font-size: 20px;
            position: relative;
            border-bottom: 1px solid;
            padding-bottom: 3px;
            background: rgba(0,0,0,0.05);
            margin-top: -6px;
            padding-top: 16px;
        }
    }

    .sing-module-totals {
        display: block;
        height: 140px;
        width: 500px;
        float: right;

        .sing-module-total {
            height: 23px;
            display: block;
            margin: 8px;
            margin-top: -10px;
            margin-bottom: 17px;
            font-size: 13px;

            p {
                width: 195px;
                margin-right: 5px;
                font-weight: bold;
            }

            strong p {
                font-size: 15px;
                width: auto;
            }
        }
    }

    .sing-method-list {
    }

    .test-errors {
        error {
            font-size: 12px;
            width: 100%;
            display: block;
        }
    }

    .wide .sing-progress-slider {
        min-width: 400px;
    }

    .no-text .sing-progress-slider {
        b {
            display: none;
        }
    }

    .ui-tabs {
        margin-left: -10px;
        margin-right: -10px;

        .ui-tabs {
            margin-left: -20px;
            margin-right: -20px;
        }

        .ui-tabs-nav {

            .sing-progress-slider {
                width: 100%;
                min-width: 50px;
                height: 5px;
                border: none;
                display: block;

                .sing-progress-complete {
                    height: 5px;
                    border: none;
                }
            }
        }
    }

    .sing-progress-slider {
        box-shadow: black 1px 1px 3px;
        .round-border();
        display: inline-block;
        position: relative;
        color: #ffffff;
        background-color: #890000;
        margin-top: 2px;
        min-width: 200px;
        text-align: center;

        .sing-progress-complete {
            .round-border();
            background-color: #21762d;
            height: 100%;
            display: inline-block;
            float: left;
            position: absolute;
            left: 0px;
            z-index: 0;
        }

        b {
            font-weight: normal;
            display: inline-block;
            min-width: 65%;
            z-index: 1;
            position: relative;
        }
    }

    [sing-template-name=method] {
        .method-show-hide {
            position: relative;
            width: 30px;
            height: 30px;
            padding: 0px;
            margin-right: 5px;
            margin-top: -8px;

            glyph {
                position: absolute;
                left: 7px;
                top: 4px;
            }
        }

        .method-view-code {
            .method-code-show-hide {
                text-align: left;
                width: 96%;
                height: 35px;
            }

            .method-code {
                width: 100%;
            }
        }
    }
}

.spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
