<!-- ReSharper disable All -->

<html>
<body>


    <div sing-template="Boolean">
        <span sing-if="{{$data}}">Yes</span>
        <span sing-else>No</span>
    </div>

    <div sing-template="JQuery">
        {{ $data.outerHtml() }}
    </div>

    <div sing-template="List">
        <ul>
            <li sing-loop="{{ $data }}">
                {{ $item }}
            </li>
            <li sing-loop="{{ block in content }}">
                {{ block }}
            </li>
        </ul>
    </div>

    <div sing-template="OrderedList">
        <ol>
            <li sing-loop="{{ $data }}">
                {{ $item }}
            </li>
            <li sing-loop="{{ block in content }}">
                {{ block }}
            </li>
        </ol>
    </div>

    <div sing-template="ObjectTable">
        <table>
            <thead sing-if="{{content.HeaderCells}}">
                <tr>
                    {{content.HeaderCells}}
                </tr>
            </thead>
            <tbody>
                <tr sing-loop="{{ $data }}">
                    <td sing-if="{{ $item$key }}">
                        {{ $item$key }}:
                    </td>
                    <td>
                        {{ $.toStr($item) }}
                    </td>
                </tr>
            </tbody>
            <tfoot sing-if="{{content.FooterCells}}">
                <tr>
                    {{content.FooterCells}}
                </tr>
            </tfoot>
        </table>
    </div>

    <div sing-template="ContentTable">
        <table>
            <thead sing-if="{{content.HeaderCells}}">
                <tr>
                    {{content.HeaderCells}}
                </tr>
            </thead>

            <tbody>
                {{content.BodyRows}}
            </tbody>

            <tfoot sing-if="{{content.FooterCells}}">
                <tr>
                    {{content.FooterCells}}
                </tr>
            </tfoot>
        </table>
    </div>

    <div sing-template="MultiObjectTable">
        <table sing-loop="{{ $item in $data }}">
            <thead sing-if="{{content.HeaderCells}}">
                <tr>
                    {{content.HeaderCells}}
                </tr>
            </thead>
            <tbody>
                <tr sing-loop="{{ item in $item }}">
                    <td sing-if="{{ item$key }}">
                        {{ item$key }}:
                    </td>
                    <td>
                        {{ item }}
                    </td>
                </tr>
            </tbody>

            <tfoot sing-if="{{content.FooterCells}}">
                <tr>
                    {{content.FooterCells}}
                </tr>
            </tfoot>
        </table>
    </div>

    <div sing-template="Table">
        <table>
            <thead>
                <tr>
                    <td sing-loop="{{ column in $.objKeys($data) }}">
                        {{column}}
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr sing-loop="{{ row in $.objValues($data) }}">
                    <td sing-loop="{{ column in $.objKeys($data) }}">
                        {{ $data[column] }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <span sing-template="PercentSlider">
        <span class="sing-progress-slider">
            <span class="sing-progress-complete" style="width: {{ $data[0].percentOf($data[1]) }} %;">

            </span>
            <b>
                ({{ $data[0] }} / {{$data[1]}}) ({{ $data[0].percentOf($data[1]) }}%)
            </b>
        </span>
    </span>

    <span sing-template="Glyph">
        <span sing-if="{{$data}}">
            <glyph sing-if="{{$data.startsWith('&')}}">
                {{$data}}
            </glyph>
            <i sing-else class="icon-large {{$data}}"></i>
        </span>
    </span>

    <span sing-template="Ident">
        <span sing-if="{{$data}}">
            <ident>{{$data}}</ident>
        </span>
    </span>

    <span sing-template="GlyphOrIdent">
        <span sing-if="{{$data[0]}}">
            <span sing-fill="{{Glyph with $data[0]}}"></span>
        </span>
        <span sing-else>
            <span sing-fill="{{Ident with $data[1]}}"></span>
        </span>
    </span>



    <div sing-template="Panel">
        <div class="panel panel-{{$data.panelType || 'default'}}">
            <div class="panel-heading">{{content.heading}}</div>
            <div class="panel-body">{{content.body}}</div>
            <div class="panel-footer">{{content.footer}}</div>
        </div>
    </div>

    <div sing-template="Tabs">
        <ul class="nav nav-tabs">
            <li sing-loop="{{tab in $data}}"><a data-toggle="tab" href="#{{tab.toPageSlug()}}">{{tab}}</a></li>
        </ul>
        <div class="tab-content container">
            <div sing-loop="{{content.Tab}}" id="{{tab.toPageSlug()}}" class="tab-pane fade container"></div>
        </div>
    </div>
</body>
</html>
<!-- ReSharper restore CssNotResolved -->