@inherits SingularityRazor
@using Singularity.Extensions

@{

}

@if (Auth.IsLoggedIn)
    {
    using (Html.BeginForm(nameof(AccountController.LogOff), typeof(AccountController).CName(),
        FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                Hello @Auth.UserName!
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
        }
    }
else
    {
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Log in",
           nameof(AccountController.Login), typeof(AccountController).CName(),
           null, new { id = "loginLink" })
        </li>
    </ul>
    }
