
@* ReSharper disable once RedundantUsingDirective*@
@using Singularity.Routes

@{
    var Context = ContextProviderFactory.GetCurrent();


}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        @Html.Partial(PartialViews.LoginPartial)

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">@Context.SiteTitle</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>


        <div class="key-bind-tip" style="display: none">
            <div class="border-bottom">
                <glyph>&#xe047;</glyph>
                Key Shortcuts
            </div>
            <span id="key-bind-page-tip">
            </span>
        </div>

    </div>

</nav>

<div class="nav-spacer">&nbsp;</div>