@{
    List<string> Success = ViewContext.Controller.GetStatusMessages_Success();
    List<string> Errors = ViewContext.Controller.GetStatusMessages_Error();
    List<string> Warnings = ViewContext.Controller.GetStatusMessages_Warning();
    List<string> Information = ViewContext.Controller.GetStatusMessages_Information();
}

@if (TempData.Peek(SingularityControllerHelper.StatusMessage_Temporary) != null)
    {
    string Message = (string)TempData[SingularityControllerHelper.StatusMessage_Temporary];
    string Icon = (string)(TempData[SingularityControllerHelper.StatusMessage_TemporaryIcon] ?? "");

    <div class="status-message close-dialog">
        @if (!string.IsNullOrEmpty(Icon))
            {
            <glyph>@Icon</glyph>
            }
        @Message
    </div>
    }


<div class="container">
    @foreach (string Message in Errors)
        {
        <div class="alert alert-danger">
            <a class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong>
            @Message
        </div>
        }
    @foreach (string Message in Warnings)
        {
        <div class="alert alert-warning">
            <a class="close" data-dismiss="alert">&times;</a>
            <strong>Warning!</strong>
            @Message
        </div>
        }
    @foreach (string Message in Information)
        {
        <div class="alert alert-info">
            <a class="close" data-dismiss="alert">&times;</a>
            @Message
        </div>
        }
    @foreach (string Message in Success)
        {
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong>
            @Message
        </div>
        }
</div>