@* Generator: MvcView *@

@using LCore;
@using Singularity;
@using Singularity.Models;
@using Singularity.Controllers;
@using Singularity.Context;
@using Singularity.Routes;
@using System.Linq;
@using System.Linq.Expressions;
@using System.Collections;
@using System.Collections.Generic;
@using System.ComponentModel;
@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel.Design;
@using System.Web;
@using System.Web.Mvc;

@{
    /// <reference path="singularity-core.margin:-10px 8px 17px;font-size:13px;ts" />
    Layout = Layouts.MainLayout;

}

<script type="text/javascript">

    sing.templateShown(function (element) {

    })

    $(document).init(function () {

    });

    $(document).ready(function () {
        (function () {
            sing.tests.runTests();

            sing.loadTemplate(['/Templates/Common.html', '/Templates/Documentation.html'],
                function (ms) {

                    sing.initTemplates();

                    sing.ready();

                    $(".tabs").tabs({
                        collapsible: true
                    });
                });

        }).fn_defer()();
    });
</script>

<div class="container">
    <div class="row">
        <div class="mvcl-test singularity-test sing col-xs-12" sing-fill="{{ Singularity with sing }}">
            <br />
            <br />
            <br />
            <br />
            <br />
            <div style="text-align:center">
                <span class="glyphicon spin" style="font-size: 36px;">&#xe201;</span>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>

    </div>

</div>


