@* Generator: MvcView *@

@using System.Data;

@model DataTable

@{

}

<table>
    <thead>
        <tr>
            <td>
                Row Index
            </td>
            @for (int Index = 0; Index < Model.Columns.Count; Index++)
                {
                var Col = Model.Columns[Index];
                <td>
                    @Col.ColumnName
                </td>
                }

        </tr>
    </thead>
    <tbody>
        @for (int Index = 0; Index < Model.Rows.Count; Index++)
            {
            <tr>
                <td>
                    @(Index + 1)
                </td>
                @for (int Index2 = 0; Index2 < Model.Columns.Count; Index2++)
                    {
                    var FieldData = Model.Rows[Index][Index2];
                    <td>
                        @FieldData
                    </td>
                    }
            </tr>
            }
    </tbody>
</table>