


<div sing-template="Singularity">
    <h1>&#8226; Singularity</h1>

    <p>{{sing.summary}}</p>

    <div sing-fill="{{ Module with sing.modules.Singularity as module }}"></div>
    <hr />
</div>

<div sing-template="Module">
    <h2>{{module.name}}</h2>

    <div>
        Methods Implemented:
        <span class="right">
            {{module.implementedMethodCount()}}
            /
            {{module.totalMethods()}}

            ({{module.implementedMethodCount().percentOf(module.totalMethods())}}%)
        </span>
    </div>

    <div sing-if="{{module.requiredUnitTests}}">
        <div>
            Unit Tests Implemented:
            <span class="right">
                {{module.implementedMethodTests()}}
                /
                {{module.totalMethods()}}

                ({{module.implementedMethodTests().percentOf(module.implementedMethodCount()) }}%)
            </span>
        </div>
        <div>
            Unit Tests Passed:
            <span class="right">
                {{module.passedMethodTests()}}
                /
                {{module.implementedMethodTestsTotal()}}

                ({{module.passedMethodTests().percentOf(module.implementedMethodTestsTotal()) }}%)
            </span>
        </div>

    </div>

    <div sing-if="{{module.requiredDocumentation}}">
        <div>
            Documentation:
            <span class="right">
                {{module.implementedDocumentation()}}
                /
                {{module.totalDocumentation()}}

                ({{module.implementedDocumentation().percentOf(module.totalDocumentation()) }}%)
            </span>
        </div>
    </div>
    <div>
        Total:
        <span class="right">
            {{module.implementedItems()}}
            /
            {{module.totalItems()}}

            ({{module.implementedItems().percentOf(module.totalItems()) }}%)
        </span>
    </div>

    <div class="tabs">
        <ul>
            <li sing-loop="{{ sub in module.subModules }}">
                <a href="#tabs-{{sub.name}}-{{sub$index}}">{{sub.name}}</a>
            </li>
        </ul>
        <div sing-loop="{{ sub in module.subModules }}" sing-loop-inner="true">
            <div id="tabs-{{sub.name}}-{{sub$index}}">
                <div sing-fill="{{ Module with sub as module }}"></div>
            </div>
        </div>
    </div>

    <div sing-loop="{{ method in module.methods }}">
        <div sing-fill="{{ Method with method }}"></></div>
    </div>

</div>

<div sing-template="Method">
    <div sing-if="{{method.details.summary}}">
        <h3>{{method.shortName}}</h3>

        <p sing-if="{{method.details.summary}}">
            Summary: {{method.details.summary}}
        </p>

        <p sing-if="{{method.details.parameters}}">
            Parameters:
            <ul>
                <li sing-loop="{{param in method.details.parameters}}">
                    <div sing-fill="{{Parameter with param}}"></div>
                </li>
            </ul>
        </p>

        <p sing-if="{{method.details.returnType}}">
            Returns: {{sing.getTypeName(method.details.returnType)}}
        </p>
        <p sing-else>Returns: Nothing.</p>
    </div>
</div>

<div sing-template="Parameter">
    <div>{{param.name}}</div>
    <div>Type: {{sing.getTypeName(param.types)}}</div>
    <div sing-if="{{param.description}}">{{param.description}}</div>
</div>




<div sing-template="List">
    <ul>
        <li sing-repeat="{{ $data }}">
            {{ $item }}
        </li>
    </ul>
</div>

<div sing-template="Table">
    <table>
        <thead>
            <tr>
                <td sing-repeat="{{ column in $.objKeys($data) }}">
                    {{column}}
                </td>
            </tr>
        </thead>
        <tbody>
            <tr sing-repeat="{{ row in $.objValues($data) }}">
                <td sing-repeat="{{ column in $.objKeys($data) }}">
                    {{ $data[column] }}
                </td>
            </tr>
        </tbody>
    </table>
</div>